{% extends "./layouts/base.html" %}
{% block body %}

<div class="site-container">
    <main id="main-content">

        {% module "hero-form",
        path="./modules/hero-form",
        label="Hero form"
        %}

        <div>
            {% module "info-text",
            path="./modules/info-text",
            label="Info Text"
            %}
        </div>

        <div>
            {% module "info-icons",
            path="./modules/info-icons",
            label="Info Icons"
            %}
        </div>
    </main>
</div>
{% endblock body %}