.logo {
  margin-right: 53%;
  margin-left: 9%;
}

@media only screen and (max-width: 900px) {
 .logo {
  margin-right: 40%;
}
}
@media only screen and (max-width: 650px) {
 .logo {
  margin-right: 0;
  margin-left: 0;
}
}