.phone-white {
  color: #fff;
}

.phone-blue {
  color: #1f69ff;
}

#hs_cos_wrapper_phone_number, #hs_cos_wrapper_call_us  {
  display: inline-block;
}

.logo {
  margin-right: 57%;
  margin-left: 9%;

}



/* Media queries */

@media only screen and (max-width: 500px) {
  .navbar>.container-fluid {
  justify-content: flex-start;
}
.navbar-text {
  padding-left: 4em;
}
}