@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;700&display=swap');

/* General layout */

.site-container {
  margin: 0 auto;
  font-family: 'Readex Pro', sans-serif;
}


/* Navbar styling */
.navbar>.container-fluid {
  justify-content: flex-start;
}

.navbar {
  padding: 10px 0 0 0;
}


/* Media queries */

@media only screen and (max-width: 650px) {
  .navbar>.container-fluid {
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
}
.navbar-text {
  padding-left: 4em;
}
}