@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;700&display=swap');

/* General layout */

.site-container {
  margin: 0 auto;
  font-family: 'Readex Pro', sans-serif;
}


/* Hero section  */

.hero-form-container {
  background-image: url("https://f.hubspotusercontent-eu1.net/hubfs/25300201/house-background-hero-section.jpg");
  width: 100%;

}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.hero-form-section-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 5em 6em;
  margin: auto;
}

.hero-form-section-info {
  width: 400px;
  padding-top: 5em;
}



/* Header styling */

header {
  background: #232426;
}

.navbar {
  padding: 10px 0 0 0;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}

.phone-white {
  color: #fff;
}

.phone-blue {
  color: #1f69ff;
}

.navbar-text {
  padding-left: 15rem;
}

.logo {
  padding-left: 7em;
}


/* Form styling */

.form-optin {
  width: 400px;
  height: 530px;
  background-color: #e4eef0;
  padding: 1.5em 0 2em 0;
  border-radius: 5px;
  margin-left: 15%;
}

.form-title {
  font-weight: 700;
  font-size: 46px;
}

.form-text {
  margin-bottom: -20px;
}

.hs-input {
  width: 90%;
  padding: 10px 5px;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #fff;
}

.hs-button {
  background-color: #F75C03;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-top: 1em;
  width: 90%;
  font-size: 30px;
  font-weight: 500;
}



.footer {
  padding: 2em 0;
  background: #404040;
  color: #fff;
}