<div class="hero-form-container" {% if module.bg_image %}style="background-image: url({{ module.bg_image.src }});" {%
  endif %}>
  <div class="overlay">
    <div class="hero-form-section-content">
      <div class="hero-form-section-info">
        <div id="hero-form">
          <h1 class="hero-title">{{ module.hero_title }}</h1>
          <div id="hero-text">
            <h3>{{ module.subheading }}</h3>
            <ul>
              {% for listitem in module.listitems %}
              <li>
                {{ listitem.item }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="form-optin">
        <section class="module-outer">
          <div class="module-inner text-center">
            <div class="form-container">
              <h2 class="form-title">{{ module.heading }}</h2>
              {% if module.heading %}
              <p class="form-text">{{ module.sub_heading }}</p>
              {% endif %}
              {% form "optin_form" form_to_use='{{ module.form.form_id }}'
              %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>